svg{
    margin: 0 auto;
}
#tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    border: 4px solid #2c3e50;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 6px;
  }
  
  #tooltip p {
    margin: 2px;
  }